In [1]:
from utils_data import *
from models import *

In [2]:
a2v = A2VDataModule(300, 1, 0.2, 32, 1000)

In [3]:
a2v.prepare_data()
val = a2v.val_dataloader()

,A,AA,AAL,AAON,AAP,AAPL,AAT,AAWW,AB,ABBV,...,ZD,ZEN,ZI,ZION,ZM,ZNTL,ZS,ZTS,ZUO,ZWS
date,,,,,,,,,,,,,,,,,,,,,
2001-01-03,0.103184,NaN,NaN,0.038742,NaN,0.100134,NaN,NaN,0.077181,NaN,...,0.161290,NaN,NaN,0.033367,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-04,0.037770,NaN,NaN,0.054054,NaN,0.042150,NaN,NaN,-0.015728,NaN,...,0.055556,NaN,NaN,-0.020181,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-05,-0.054764,NaN,NaN,0.025641,NaN,-0.040446,NaN,NaN,0.002367,NaN,...,-0.105263,NaN,NaN,-0.011369,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-08,-0.032873,NaN,NaN,-0.025000,NaN,0.011607,NaN,NaN,-0.018303,NaN,...,0.000000,NaN,NaN,0.002167,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-09,-0.004695,NaN,NaN,0.025641,NaN,0.038043,NaN,NaN,0.008621,NaN,...,0.000000,NaN,NaN,-0.010477,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-25,0.016629,0.059229,0.013475,0.050383,0.027064,0.019338,0.033670,0.000498,0.020941,-0.007091,...,0.036458,0.002758,0.050169,0.034753,0.043171,0.039726,0.056635,0.019616,0.011096,0.032908
2022-10-26,0.023718,0.027959,-0.020294,-0.005672,0.002260,-0.019627,0.000362,0.001492,0.005620,0.017955,...,0.000515,-0.001310,-0.021422,-0.021549,-0.008562,0.061924,-0.038577,-0.004137,0.023320,-0.110315
2022-10-27,-0.008715,-0.029074,-0.002143,0.028846,0.034487,-0.030465,-0.016281,-0.001589,-0.007823,0.006491,...,-0.016356,-0.003279,0.009413,-0.000397,-0.009116,-0.015716,0.018142,-0.003494,0.013405,0.003581
2022-10-28,0.016705,-0.046366,0.002147,0.031998,0.013771,0.075553,0.009194,0.003183,0.049000,-0.038371,...,0.028934,0.006711,-0.020169,0.023025,0.019368,0.059244,0.001236,0.014159,0.021164,0.021855
2022-10-31,-0.003027,-0.009116,0.012857,-0.010130,-0.003934,-0.015410,0.001458,0.002776,0.010201,-0.008197,...,-0.015269,0.002353,-0.014387,0.007761,-0.009144,-0.004760,0.000909,-0.014190,-0.003886,0.025316

In [5]:
for x, y, i in val:
    if x.isnan().any() or y.isnan().any():
        print(i)
        break

In [2]:
df = pd.read_parquet('Data/Top 2000/t2k_returns.parquet')

In [6]:
df.iloc[:, 1337]

date
2001-01-03         NaN
2001-01-04         NaN
2001-01-05         NaN
2001-01-08         NaN
2001-01-09         NaN
                ...
2022-10-25    0.055921
2022-10-26    0.022430
2022-10-27    0.054235
2022-10-28    0.078035
2022-10-31    0.009115
Name: PRME, Length: 5492, dtype: float32

In [7]:
df.drop(columns=['S', 'PRME'], inplace=True)

In [8]:
df.head()

,A,AA,AAL,AAON,AAP,AAPL,AAT,AAWW,AB,ABBV,...,ZD,ZEN,ZI,ZION,ZM,ZNTL,ZS,ZTS,ZUO,ZWS
date,,,,,,,,,,,,,,,,,,,,,
2001-01-03,0.103184,NaN,NaN,0.038742,NaN,0.100134,NaN,NaN,0.077181,NaN,...,0.161290,NaN,NaN,0.033367,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-04,0.037770,NaN,NaN,0.054054,NaN,0.042150,NaN,NaN,-0.015728,NaN,...,0.055556,NaN,NaN,-0.020181,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-05,-0.054764,NaN,NaN,0.025641,NaN,-0.040446,NaN,NaN,0.002367,NaN,...,-0.105263,NaN,NaN,-0.011369,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-08,-0.032873,NaN,NaN,-0.025000,NaN,0.011607,NaN,NaN,-0.018303,NaN,...,0.000000,NaN,NaN,0.002167,NaN,NaN,NaN,NaN,NaN,NaN
2001-01-09,-0.004695,NaN,NaN,0.025641,NaN,0.038043,NaN,NaN,0.008621,NaN,...,0.000000,NaN,NaN,-0.010477,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.to_parquet('Data/Top 2000/t2k_returns.parquet')

In [24]:
df = (df - np.nanmean(df, axis=0)) / np.nanstd(df, axis=0)

In [25]:
df.tail()

,A,AA,AAL,AAON,AAP,AAPL,AAT,AAWW,AB,ABBV,...,ZD,ZEN,ZI,ZION,ZM,ZNTL,ZS,ZTS,ZUO,ZWS
date,,,,,,,,,,,,,,,,,,,,,
2022-10-25,0.704074,1.618307,0.296132,1.957689,1.270766,0.783511,1.880144,-0.008750,0.858405,-0.463429,...,1.154312,0.054089,1.248080,1.230303,0.991571,0.801180,1.380005,1.191836,0.305010,1.339094
2022-10-26,1.013919,0.749150,-0.495022,-0.265672,0.073830,-0.923003,-0.000090,0.022915,0.214511,0.990462,...,-0.032074,-0.089023,-0.577065,-0.787555,-0.230955,1.263762,-1.029075,-0.312484,0.637090,-4.558456
2022-10-27,-0.403714,-0.836053,-0.069773,1.103448,1.628966,-1.397675,-0.939564,-0.075203,-0.350442,0.325026,...,-0.588942,-0.158294,0.209063,-0.029458,-0.244042,-0.354183,0.406035,-0.271809,0.367743,0.131473
2022-10-28,0.707383,-1.316673,0.030742,1.228447,0.629288,3.245528,0.498506,0.076774,2.037623,-2.279199,...,0.905959,0.193145,-0.545114,0.809980,0.429077,1.207914,-0.021737,0.846246,0.578532,0.883967
2022-10-31,-0.155065,-0.281336,0.281654,-0.442528,-0.225061,-0.738323,0.061766,0.063823,0.407066,-0.527636,...,-0.553082,0.039825,-0.397702,0.262914,-0.244698,-0.125877,-0.029993,-0.949186,-0.101985,1.026477

In [11]:
df2.head()

,A,AA,AAL,AAON,AAP,AAPL,AAT,AAWW,AB,ABBV,...,ZD,ZEN,ZI,ZION,ZM,ZNTL,ZS,ZTS,ZUO,ZWS
Description,"Agilent Technologies, Inc. engages in the prov...",Alcoa Corp. engages in the production of bauxi...,"American Airlines Group, Inc. is a holding com...","AAON, Inc. engages in the engineering, manufac...","Advance Auto Parts, Inc. engages in the supply...","Apple, Inc. engages in the design, manufacture...","American Assets Trust, Inc. is a real estate i...","Atlas Air Worldwide Holdings, Inc. engages in ...",AllianceBernstein Holding LP engages in the pr...,"AbbVie, Inc. is a research-based biopharmaceut...",...,"Ziff Davis, Inc. is a digital media and intern...",Zentek Ltd. is an emerging high-tech nano-grap...,"ZoomInfo Technologies, Inc. is a holding compa...",Zions Bancorporation NA is a bank holding comp...,"Zoom Video Communications, Inc. engages in the...","Zentalis Pharmaceuticals, Inc. is a clinical-s...","Zscaler, Inc. engages in the provision of a cl...","Zoetis, Inc. engages in the discovery, develop...","Zuora, Inc. engages in the provision of cloud-...",Zurn Elkay Water Solutions Corp. engages in th...
Industry,Medical Equipment/Supplies,Aluminum,Passenger Airlines,Building Materials/Products,Specialty Retail,Computers/Consumer Electronics,Diversified REITs,General Services,Investment Advisors,Biotechnology,...,Internet/Online,Coal,Software,Banking,Software,Biotechnology,Internet/Online,Pharmaceuticals,Internet/Online,Industrial Products
Sector,Health Care/Life Sciences,Basic Materials/Resources,Transportation/Logistics,Real Estate/Construction,Retail/Wholesale,Technology,Real Estate/Construction,Business/Consumer Services,Financial Services,Health Care/Life Sciences,...,Technology,Basic Materials/Resources,Technology,Financial Services,Technology,Health Care/Life Sciences,Technology,Health Care/Life Sciences,Technology,Industrial Goods

In [19]:
df2.drop(columns=['S', 'PRME'], inplace=True)

KeyError: "['S', 'PRME'] not found in axis"

In [20]:
df2.to_parquet('Data/Top 2000/t2k_metadata.parquet')

In [16]:
~(df.columns == df2.columns).any()

False

In [17]:
len(df.columns)

1856

In [18]:
len(df2.columns)

1856

In [1]:
from lightning_utilities.core.imports import RequirementCache

In [2]:
RequirementCache("neptune>=1.0")

Requirement 'neptune>=1.0' met